# Backend (Railway Variables)
SECRET_KEY=REEMPLAZAR_CON_VALOR_SEGURO
DEBUG=false
ALLOWED_HOSTS=TU-BACKEND.up.railway.app
CSRF_TRUSTED_ORIGINS=https://TU-BACKEND.up.railway.app
DATABASE_URL=${{SERVICE_NAME.DATABASE_URL}}

# Frontend (Railway Variables)
NEXT_PUBLIC_API_BASE_URL=https://TU-BACKEND.up.railway.app
